Repository signalfx/gdi-specification, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @signalfx/docs

Add rule for bot account
  specification/repository.md
Owners: @signalfx/docs

Update repository.md
  specification/repository.md
Owners: @signalfx/docs

Update semantic conventions for RUM
  specification/semantic_conventions.md
Owners: @signalfx/docs

Update semantic_conventions.md
  specification/semantic_conventions.md
Owners: @signalfx/docs

Mark RUM config as experimental
  specification/configuration.md
Owners: @signalfx/docs

Add rule for bot account (#244)
  specification/repository.md
Owners: @signalfx/docs

Add labels proposal to changelog requirements (#241)
  specification/repository.md
Owners: @signalfx/docs

Move Lychee Link Checker to correct section (#243)
  specification/repository.md
Owners: @signalfx/docs

Change wording for span connection lomits
  specification/configuration.md
Owners: @signalfx/docs

Multiple spec updates based on .NET GA review
  specification/configuration.md
  specification/repository.md
  specification/templates/.github/CODEOWNERS
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Change wording for span connection lomits (#251)
  specification/configuration.md
Owners: @signalfx/docs

Apply suggestions from code review
  specification/configuration.md
Owners: @signalfx/docs

markdownlint
  specification/repository.md
Owners: @signalfx/docs

remove the gdi-specification-maintainers requirement as well
  specification/repository.md
  specification/templates/.github/CODEOWNERS
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update repository permissions and log message when service name is not set (#252)
  specification/configuration.md
  specification/repository.md
  specification/templates/.github/CODEOWNERS
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Fix perimssions to be applicable for non-instrumentation repositories
  specification/repository.md
Owners: @signalfx/docs

Fix perimssions to be applicable for non-instrumentation repositories (#256)
  specification/repository.md
Owners: @signalfx/docs

Release 1.6.0
  CHANGELOG.md
Owners: @signalfx/docs

CI to react on adding/removing label
  .github/workflows/ci.yml
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @signalfx/docs

Release 1.6.0 (#257)
  .github/workflows/ci.yml
  CHANGELOG.md
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @signalfx/docs

GA requests references 1.6.0
  .github/ISSUE_TEMPLATE/ga_request.md
Owners: @signalfx/docs

Update GA request template after release
  RELEASING.md
Owners: @signalfx/docs

Update GA request template after release (#259)
  RELEASING.md
Owners: @signalfx/docs

GA requests references 1.6.0 (#258)
  .github/ISSUE_TEMPLATE/ga_request.md
Owners: @signalfx/docs

Update RELEASING.md
  RELEASING.md
Owners: @signalfx/docs

Update RELEASING.md (#260)
  RELEASING.md
Owners: @signalfx/docs

Status and Support Level
  README.md
  specification/status_and_support_level.md
Owners: @signalfx/docs

typo fix
  specification/status_and_support_level.md
Owners: @signalfx/docs

typo fix
  specification/status_and_support_level.md
Owners: @signalfx/docs

terms and coditions header
  specification/status_and_support_level.md
Owners: @signalfx/docs

better header
  README.md
Owners: @signalfx/docs

Fix link after moving sem-conv to own repository
  specification/semantic_conventions.md
Owners: @signalfx/docs

Fix link after moving sem-conv to own repository (#266)
  specification/semantic_conventions.md
Owners: @signalfx/docs

Add CLA Assistant GitHub workflow
  .github/workflows/cla.yaml
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Add CLA Assistant GitHub workflow (#268)
  .github/workflows/cla.yaml
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Require CLA Assistant GitHub workflow
  .github/workflows/cla.yml
  CHANGELOG.md
  specification/repository.md
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @signalfx/docs

Remove EOL
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

Require CLA Assistant GitHub workflow (#269)
  .github/workflows/cla.yml
  CHANGELOG.md
  specification/repository.md
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @signalfx/docs

Update cla.yml permissions
  .github/workflows/cla.yml
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

.github/CODEOWNERS:

#####################################################
#
# List of approvers for GDI Specification
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#
#
# Global Owners
* @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

.github/CODEOWNERS @signalfx/gdi-specification-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
