Repository signalfx/gdi-specification, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @signalfx/docs

.github/CODEOWNERS:

#####################################################
#
# List of approvers for GDI Specification
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#
#
# Global Owners
* @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

.github/CODEOWNERS @signalfx/gdi-specification-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @signalfx/docs

Update CHANGELOG.md
  CHANGELOG.md
Owners: @signalfx/docs

Fix link to Splunk documentation in CONTRIBUTING template (#346)
  CHANGELOG.md
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

How to contribute to documentation (#347)
  CHANGELOG.md
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

remove real user monitoring / rum
  .github/ISSUE_TEMPLATE/ga_request.md
  specification/configuration.md
  specification/repository.md
  specification/semantic_conventions.md
Owners: @signalfx/docs

remove rum repos from list
  repositories.txt
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Remove real user monitoring / rum (#344)
  .github/ISSUE_TEMPLATE/ga_request.md
  repositories.txt
  specification/configuration.md
  specification/repository.md
  specification/semantic_conventions.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

define snapshot profiler minimal config
  specification/configuration.md
Owners: @signalfx/docs

typos
  specification/configuration.md
Owners: @signalfx/docs

Update specification/configuration.md
  specification/configuration.md
Owners: @signalfx/docs

Define snapshot profiler minimal configs (#353)
  specification/configuration.md
Owners: @signalfx/docs

add file based config draft
  specification/configuration.md
Owners: @signalfx/docs

Fix MD060
  README.md
  specification/semantic_conventions.md
Owners: @signalfx/docs

Fix MD001
  .github/ISSUE_TEMPLATE/ga_request.md
Owners: @signalfx/docs

prevent zero
  specification/configuration.md
Owners: @signalfx/docs

casing, move under distribution key
  specification/configuration.md
Owners: @signalfx/docs

all env vars
  specification/all_splunk_envvars.md
Owners: @signalfx/docs

structure changes
  specification/configuration.md
Owners: @signalfx/docs

prevent zero (#358)
  specification/configuration.md
Owners: @signalfx/docs

change Experimental status to Development to follow OTel Specification
  README.md
  specification/behaviors.md
  specification/configuration.md
  specification/integration_context.md
  specification/semantic_conventions.md
  specification/versioning.md
Owners: @signalfx/docs

add changelog entry
  CHANGELOG.md
Owners: @signalfx/docs

js: move runtime metrics to the general block
  specification/configuration.md
Owners: @signalfx/docs

trace snapshot profiling description
  CHANGELOG.md
  specification/behaviors.md
  specification/semantic_conventions.md
Owners: @signalfx/docs

include details from https://github.com/signalfx/gdi-specification/pull/342/
  specification/behaviors.md
Owners: @signalfx/docs

Update specification/behaviors.md
  specification/behaviors.md
Owners: @signalfx/docs

remove redundant empty line
  specification/behaviors.md
Owners: @signalfx/docs

trace snapshot profiling description (#362)
  CHANGELOG.md
  specification/behaviors.md
  specification/semantic_conventions.md
Owners: @signalfx/docs

Mark Snapshot Profiler configuration as Experimental
  specification/configuration.md
Owners: @signalfx/docs

update to remove language specific entries, add splunk_prefix
  specification/configuration.md
Owners: @signalfx/docs

lint
  specification/configuration.md
Owners: @signalfx/docs

lint
  specification/configuration.md
Owners: @signalfx/docs

nesting, js fixes
  specification/configuration.md
Owners: @signalfx/docs

remove splunk.general
  specification/configuration.md
Owners: @signalfx/docs

add experimental status
  specification/configuration.md
Owners: @signalfx/docs

lint fixes
  .github/ISSUE_TEMPLATE/feature_request.md
  specification/behaviors.md
  specification/configuration.md
  specification/repository.md
  specification/templates/CONTRIBUTING.md
  specification/versioning.md
Owners: @signalfx/docs

remove nodejs example
  specification/configuration.md
Owners: @signalfx/docs

change otlp_http -> otlp_log_http
  specification/configuration.md
Owners: @signalfx/docs

Revert "prevent zero (#358)"
  specification/configuration.md
Owners: @signalfx/docs

Add env-var for access token to the example
  specification/configuration.md
Owners: @signalfx/docs

Update specification/configuration.md
  specification/configuration.md
Owners: @signalfx/docs
