Repository signalfx/gdi-specification, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @signalfx/docs

.github/CODEOWNERS:

#####################################################
#
# List of approvers for GDI Specification
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#
#
# Global Owners
* @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

.github/CODEOWNERS @signalfx/gdi-specification-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

Pin exact version
  .github/workflows/lychee-weekly.yml
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Bump peter-evans/create-issue-from-file to 4.0.1
  .github/workflows/lychee-weekly.yml
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Bump GitHub Actions (#220)
  .github/workflows/lychee-push.yml
  .github/workflows/lychee-weekly.yml
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Release lifecycle marking
  specification/templates/CHANGELOG.md
  specification/versioning.md
Owners: @signalfx/docs

Update specification/versioning.md
  specification/versioning.md
Owners: @signalfx/docs

Update specification/versioning.md
  specification/versioning.md
Owners: @signalfx/docs

Release 1.5.0
  .github/ISSUE_TEMPLATE/ga_request.md
  CHANGELOG.md
Owners: @signalfx/docs

Markdownlint check
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/ga_request.md
  .github/workflows/validate-documentation-push.yml
  .markdownlint.yaml
  CHANGELOG.md
  specification/configuration.md
  specification/repository.md
  specification/semantic_conventions.md
  specification/templates/CONTRIBUTING.md
  specification/templates/SECURITY.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Rename validate-documentation-push.yml to ci.yml
  .github/workflows/ci.yml
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Markdownlint check (#227)
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/ga_request.md
  .github/workflows/ci.yml
  .markdownlint.yaml
  CHANGELOG.md
  specification/configuration.md
  specification/repository.md
  specification/semantic_conventions.md
  specification/templates/CONTRIBUTING.md
  specification/templates/SECURITY.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

md lint fix
  CHANGELOG.md
Owners: @signalfx/docs

Update CHANGELOG.md
  CHANGELOG.md
Owners: @signalfx/docs

Update ci.yml
  .github/workflows/ci.yml
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update RELEASING.md
  RELEASING.md
Owners: @signalfx/docs

Release 1.5.0 (#226)
  .github/ISSUE_TEMPLATE/ga_request.md
  .github/workflows/ci.yml
  CHANGELOG.md
  RELEASING.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Updates after review
  specification/templates/CHANGELOG.md
  specification/versioning.md
Owners: @signalfx/docs

md lint fixes
  specification/templates/CHANGELOG.md
  specification/versioning.md
Owners: @signalfx/docs

Update specification/templates/CHANGELOG.md
  specification/templates/CHANGELOG.md
Owners: @signalfx/docs

Fix newly detected lint issues
  CODE_OF_CONDUCT.md
  specification/templates/CODE_OF_CONDUCT.md
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

Add a SPLUNK_{COMPONENT}_ prefix recommendation
  specification/configuration.md
Owners: @signalfx/docs

Update configuration.md
  specification/configuration.md
Owners: @signalfx/docs

Fix typo
  specification/configuration.md
Owners: @signalfx/docs

Fix typo
  specification/configuration.md
Owners: @signalfx/docs

Update CONTRIBUTING.md
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

Update CONTRIBUTING.md
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

CONTRIBUTING.md - commits have to be signed (#235)
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

Update repositories.txt
  repositories.txt
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update repositories.txt (#237)
  repositories.txt
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Add labels proposal to changelog requirements
  specification/repository.md
Owners: @signalfx/docs

Update repository.md
  specification/repository.md
Owners: @signalfx/docs

Update repository.md
  specification/repository.md
Owners: @signalfx/docs

Update repository.md
  specification/repository.md
Owners: @signalfx/docs

Update repository.md
  specification/repository.md
Owners: @signalfx/docs

Update repository.md
  specification/repository.md
Owners: @signalfx/docs

Update repository.md
  specification/repository.md
Owners: @signalfx/docs

Update repository.md
  specification/repository.md
Owners: @signalfx/docs

Update specification/repository.md
  specification/repository.md
Owners: @signalfx/docs

Update specification/repository.md
  specification/repository.md
Owners: @signalfx/docs

Update specification/repository.md
  specification/repository.md
Owners: @signalfx/docs

Move Lychee Link Checker to correct section
  specification/repository.md
Owners: @signalfx/docs
