Repository signalfx/gdi-specification, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @signalfx/docs

.github/CODEOWNERS:

#####################################################
#
# List of approvers for GDI Specification
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#
#
# Global Owners
* @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

.github/CODEOWNERS @signalfx/gdi-specification-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

Update CODEOWNERS to add docs team as reviewers for docs changes
  specification/templates/.github/CODEOWNERS
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update specification/templates/.github/CODEOWNERS
  specification/templates/.github/CODEOWNERS
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update CODEOWNERS to add docs team as reviewers for docs changes (#115)
  specification/templates/.github/CODEOWNERS
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

s/serviceName/applicationName/g
  specification/configuration.md
Owners: @signalfx/docs

RUM libraries specification (#112)
  specification/configuration.md
  specification/repository.md
  specification/semantic_conventions.md
Owners: @signalfx/docs

Add maintainers+approvers to docs CODEOWNERS
  specification/templates/.github/CODEOWNERS
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Add maintainers+approvers to docs CODEOWNERS (#117)
  specification/templates/.github/CODEOWNERS
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Grant WRITE permission to signalfx/docs team (for code reviews)
  specification/repository.md
Owners: @signalfx/docs

Remove lines on what configuration a user should provide
  specification/configuration.md
Owners: @signalfx/docs

Add changes to changelog
  CHANGELOG.md
Owners: @signalfx/docs

Add support for the OTEL_SERVICE_NAME env var
  CHANGELOG.md
  specification/configuration.md
Owners: @signalfx/docs

Account for srv name in code
  specification/configuration.md
Owners: @signalfx/docs

Rely on OTel for assignment and precedence
  specification/configuration.md
Owners: @signalfx/docs

Grant WRITE permission to signalfx/docs team (for code reviews) (#119)
  specification/repository.md
Owners: @signalfx/docs

Remove lines on what configuration a user should provide (#120)
  CHANGELOG.md
  specification/configuration.md
Owners: @signalfx/docs

Add support for the OTEL_SERVICE_NAME env var (#121)
  CHANGELOG.md
  specification/configuration.md
Owners: @signalfx/docs

repository - shared teams updat
  specification/repository.md
Owners: @signalfx/docs

repository - shared teams updat (#125)
  specification/repository.md
Owners: @signalfx/docs

Add OTEL_ATTRIBUTE_VALUE_LENTH_LIMIT to spec
  specification/configuration.md
Owners: @signalfx/docs

Add LICENSE to templates
  specification/repository.md
  specification/templates/LICENSE
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

First commit
  specification/repository.md
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

Change wording
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

More verbiage changes
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

License link
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

Revert change
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

Consistency nit
  specification/repository.md
Owners: @signalfx/docs

Add LICENSE to templates (#128)
  specification/repository.md
  specification/templates/LICENSE
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Add OTEL_ATTRIBUTE_VALUE_LENTH_LIMIT to spec (#124)
  specification/configuration.md
Owners: @signalfx/docs

OTEL_ATTRIBUTE_VALUE_LENGTH_LIMIT should be 12000
  specification/configuration.md
Owners: @signalfx/docs

OTEL_ATTRIBUTE_VALUE_LENGTH_LIMIT should be 12000 (#130)
  specification/configuration.md
Owners: @signalfx/docs

Introduce docs section to CONTRIBUTING.md (#129)
  specification/repository.md
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

Clarify `OTEL_TRACES_EXPORTER`
  specification/configuration.md
Owners: @signalfx/docs

Clarify `OTEL_TRACES_EXPORTER` (#132)
  specification/configuration.md
Owners: @signalfx/docs

Initial profiling spec for GDI.
  specification/profiling.md
Owners: @signalfx/docs

remove table of contents
  specification/profiling.md
Owners: @signalfx/docs

add note about not defaulting enabled unless stable
  specification/profiling.md
Owners: @signalfx/docs

Update specification/profiling.md
  specification/profiling.md
Owners: @signalfx/docs

Update specification/profiling.md
  specification/profiling.md
Owners: @signalfx/docs

Update specification/profiling.md
  specification/profiling.md
Owners: @signalfx/docs

Update specification/profiling.md
  specification/profiling.md
Owners: @signalfx/docs
