Repository signalfx/gdi-specification, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @signalfx/docs

.github/CODEOWNERS:

#####################################################
#
# List of approvers for GDI Specification
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#
#
# Global Owners
* @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

.github/CODEOWNERS @signalfx/gdi-specification-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

Grant Admin role for maintainers team (#205)
  specification/repository.md
Owners: @signalfx/docs

clarify resource attributes requirements for profiling
  specification/semantic_conventions.md
Owners: @signalfx/docs

links added
  specification/semantic_conventions.md
Owners: @signalfx/docs

update service.name attribute link
  specification/semantic_conventions.md
Owners: @signalfx/docs

PR feedback
  specification/semantic_conventions.md
Owners: @signalfx/docs

Clarify required/recommended resource attributes for profiling (#206)
  specification/semantic_conventions.md
Owners: @signalfx/docs

Drop Jira app requirement
  specification/repository.md
Owners: @signalfx/docs

Drop Jira app requirement (#207)
  specification/repository.md
Owners: @signalfx/docs

remove redunant statement about file and line
  specification/semantic_conventions.md
Owners: @signalfx/docs

remove redunant statement about file and line (#208)
  specification/semantic_conventions.md
Owners: @signalfx/docs

Updates for repo documentation
  specification/repository.md
Owners: @signalfx/docs

Update repository.md
  specification/repository.md
Owners: @signalfx/docs

Update specification/repository.md
  specification/repository.md
Owners: @signalfx/docs

Update specification/repository.md
  specification/repository.md
Owners: @signalfx/docs

Add URLs and edit RUM instructions
  specification/repository.md
Owners: @signalfx/docs

Remove adverb
  specification/repository.md
Owners: @signalfx/docs

Clarify sentence
  specification/repository.md
Owners: @signalfx/docs

Updates for repo documentation (#209)
  specification/repository.md
Owners: @signalfx/docs

GA request - update links to 1.4.0 release
  .github/ISSUE_TEMPLATE/ga_request.md
Owners: @signalfx/docs

GA request - update links to 1.4.0 release (#210)
  .github/ISSUE_TEMPLATE/ga_request.md
Owners: @signalfx/docs

Add a recommendation to set process resource attributes
  specification/semantic_conventions.md
Owners: @signalfx/docs

Update semantic_conventions.md
  specification/semantic_conventions.md
Owners: @signalfx/docs

Add a recommendation to set process resource attributes (#211)
  specification/semantic_conventions.md
Owners: @signalfx/docs

Add a recommendation to collect Runtime Environment Metrics
  specification/semantic_conventions.md
Owners: @signalfx/docs

Add a recommendation to collect Runtime Environment Metrics (#212)
  specification/semantic_conventions.md
Owners: @signalfx/docs

Update CONTRIBUTING.md
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

Update CONTRIBUTING.md (#213)
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

Update CONTRIBUTING.md
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

Fix linting issues with the docs section (#214)
  specification/templates/CONTRIBUTING.md
Owners: @signalfx/docs

Add frame count to pprof message attributes
  specification/semantic_conventions.md
Owners: @signalfx/docs

Relax the meaning of allocation size
  specification/semantic_conventions.md
Owners: @signalfx/docs

Document and automate releasing
  .gitignore
  Makefile
  RELEASING.md
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @signalfx/docs

Add new line
  .gitignore
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update Makefile
  Makefile
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Add frame count to pprof message attributes (#217)
  specification/semantic_conventions.md
Owners: @signalfx/docs

Document and automate releasing (#219)
  .gitignore
  Makefile
  RELEASING.md
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @signalfx/docs

Relax the meaning of allocation size (#218)
  specification/semantic_conventions.md
Owners: @signalfx/docs

Bump GitHub actions
  .github/workflows/lychee-push.yml
  .github/workflows/lychee-weekly.yml
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Enable dependabot for GitHub Actions
  .github/dependabot.yml
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Enable dependabot for GitHub Actions (#221)
  .github/dependabot.yml
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers
