Repository signalfx/gdi-specification, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers, @signalfx/docs

Update CHANGELOG.md
  CHANGELOG.md
Owners: @signalfx/docs

Release v1.4.0 (#181)
  CHANGELOG.md
Owners: @signalfx/docs

add SPLUNK_PROFILER_MEMORY_ENABLED
  specification/configuration.md
Owners: @signalfx/docs

remove Profiling is experimental status.
  specification/configuration.md
Owners: @signalfx/docs

add SPLUNK_PROFILER_MEMORY_ENABLED (#184)
  specification/configuration.md
Owners: @signalfx/docs

Clarify the out-of-the-box tools
  specification/repository.md
Owners: @signalfx/docs

Clarify the out-of-the-box tools (#185)
  specification/repository.md
Owners: @signalfx/docs

MUST NOT use GitHub secrets
  specification/repository.md
Owners: @signalfx/docs

Update repository.md
  specification/repository.md
Owners: @signalfx/docs

MUST NOT use GitHub secrets (#186)
  specification/repository.md
Owners: @signalfx/docs

Revert "MUST NOT use GitHub secrets (#186)"
  specification/repository.md
Owners: @signalfx/docs

Reduce confusion in Span Collection Limits config
  specification/configuration.md
Owners: @signalfx/docs

Add exception for GH secrets usage
  specification/repository.md
Owners: @signalfx/docs

Update repository.md
  specification/repository.md
Owners: @signalfx/docs

Reduce confusion in Span Collection Limits config (#188)
  specification/configuration.md
Owners: @signalfx/docs

Revert "MUST NOT use GitHub secrets (#186)" (#187)
  specification/repository.md
Owners: @signalfx/docs

Deprecate jaeger-thrift-splunk
  specification/configuration.md
Owners: @signalfx/docs

Improve wording
  specification/configuration.md
Owners: @signalfx/docs

Wording
  specification/configuration.md
Owners: @signalfx/docs

Update specification/configuration.md
  specification/configuration.md
Owners: @signalfx/docs

Update specification/configuration.md
  specification/configuration.md
Owners: @signalfx/docs

Deprecate jaeger-thrift-splunk (#191)
  specification/configuration.md
Owners: @signalfx/docs

Add tag protection requirement
  specification/repository.md
Owners: @signalfx/docs

Add tag protection requirement (#192)
  specification/repository.md
Owners: @signalfx/docs

Add Dependabot security configuration requirements
  specification/repository.md
Owners: @signalfx/docs

Add Dependabot security configuration requirements (#195)
  specification/repository.md
Owners: @signalfx/docs

Remove SPLUNK_METRICS_ENDPOINT from Instrumentation Libraries
  specification/configuration.md
Owners: @signalfx/docs

Update OTLP exporter default requirements
  specification/configuration.md
Owners: @signalfx/docs

Clarify the policy regarding Zipkin exporter
  specification/configuration.md
Owners: @signalfx/docs

Remove whitespace
  specification/configuration.md
Owners: @signalfx/docs

Add a list of GDI repositories
  README.md
  repositories.txt
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Remove splunk-extension-wrapper from the list
  repositories.txt
Owners: @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update configuration.md
  specification/configuration.md
Owners: @signalfx/docs

Add a list of GDI repositories (#201)
  README.md
  repositories.txt
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Clarify the policy regarding Zipkin exporter (#200)
  specification/configuration.md
Owners: @signalfx/docs

Remove Zipkin policy
  specification/configuration.md
Owners: @signalfx/docs

Remove SPLUNK_METRICS_ENDPOINT from Instrumentation Libraries (#196)
  specification/configuration.md
Owners: @signalfx/docs

Remove Zipkin policy (#202)
  specification/configuration.md
Owners: @signalfx/docs

Update OTLP exporter default requirements (#199)
  specification/configuration.md
Owners: @signalfx/docs

Grant Admin role for maintainers team
  specification/repository.md
Owners: @signalfx/docs

.github/CODEOWNERS:

#####################################################
#
# List of approvers for GDI Specification
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#
#
# Global Owners
* @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers

.github/CODEOWNERS @signalfx/gdi-specification-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
